.stepper {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(255,255,255,.08);
}

.item {
  flex: 1;
  display: flex;
  align-items: center;

  &:last-child {
    flex: unset;
  }
}

.circle {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;

  background: #2b2d42;
  color: #8b90a7;

  transition: .25s;
}

.active {
  background: var(--primary);
  color: white;
}

.completed {
  background: #19c37d;
  color: white;
}

.line {
  flex: 1;
  height: 2px;
  margin: 0 .75rem;

  background: rgba(255,255,255,.08);
}

.lineCompleted {
  background: #19c37d;
}

.label {
  margin-left: .75rem;

  color: #9095a8;
  font-size: 14px;
  white-space: nowrap;
}

.labelActive {
  color: white;
}